# Environment variables
*.env

# MacOS
.DS_Store

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Contract outputs
packages/contracts/cache/
packages/contracts/out/
packages/contracts/broadcast/
packages/webapp/src/generated.ts

# IntelliJ config
.idea/
*.iml

# Webapp outputs
packages/webapp/.next
packages/webapp/next-env.d.ts
packages/webapp/tsconfig.tsbuildinfo

# Circuits outputs
packages/circuits/build
packages/circuits/out
packages/circuits/trusted_setup
packages/circuits/zkeys
packages/webapp/public/proofs

# Roll-op files
roll-op/